@import url('https://fonts.googleapis.com/css2?family=Montserrat,wght@1,100&display=swap');

*{
    font-family: Montserrat, sans-serif;
    margin: 0;
}

.top1{
    background-color: #fff;
    height: 120px;
}

.top2{
    align-items: center;
    height: 700px;
    background-image: url("./images/rm373batch10-202.jpg");
    background-size: 100% 750px;
    width: 100%;
}

.top2 p{
    font-size: large;
}

.top1 img {
    width: 100px;
    height: 50px;
}

.left img{
    float: left;
    width: 400px;
    height: 100px;
}

.middle{
    display: flex;
    height: fit-content;
    margin-left: 100px;
}

.middle img {
    float: right;
    margin-left: 20px; /* add some margin between the image and paragraph */
}
  
.middle p {
    margin-top: 15px;
    float: left;
    width: 100%;
    overflow: hidden; /* prevent the paragraph from wrapping around the image */
}

.company{
    font-size: 25px;
    font-weight: 800;
    margin: 20px;
}

body{
    display: inline-block;
    background-color: #75BAE042;
    width: 100%;
}

button{
    max-width: 150px;
    border-radius: 6px;
    background-color: #828AD3;
    padding: 5px;
    margin: 35px 0;
}

.left{
    margin-left: 50px;
    padding: 12px;
    display: flex;
    float: left;
}

.right{
    width: 40%;
    margin-right: 70px;
    float: right;
    justify-content: space-evenly;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
}

.text1{
    color: white;
    font-style: italic;
    font-size: 30px;
    letter-spacing: 1px;
    text-align: left;
    margin-left: 80px;
    width: 30%;
}

.text1 button{
    margin-top: 20px;
}

.company2{
    font-size: 24px;
    /* font-style: bold; */
    font-weight: 800;
    margin-top: 50px;
}

.text2{
    font-size: 20px;
}

.text3 p{
    padding: 200px;
    font-size: 20px;
    float: left;
    margin: 200px;
}

.bottom{
    display: flex;
    margin-left: 100px;
}

.savewater{
    height: 600px;
    width: 550px;
    float: left;
}

.bottom p{
    padding: 100px;
    float: right;
    font-size: 22px;
    overflow: hidden;
}

.end{   
    display: flex;
    background-color: #fff;
    margin-top: 100px;
    padding-bottom: 50px;
}

.end1{
    float: left;
    width: 50%;
}

.end1 h3{
    padding: 20px 0;
    margin-left: 100px;
    font: bolder;
}

.end1 p{
    margin-left: 100px;
    margin-top: 10px;
}

.end2{
    margin-left: 300px;
    float: right;
}

.end2 p{
    margin-top: 50px;
}

.end2 img{
    padding: 0 10px;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 50px;
}