.min-h-screen{
    min-height: 100vh;
}

.bg-red{
    background-color: red;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.justify-evenly{
    justify-content: space-evenly;
}

.justify-around{
    justify-content: space-around;
}

.align-center{
    align-items: center;
}

.bg-body{
    background-color: #EAFDFC;
}

.bg-navbar{
    background-color: #82aae3;
}

.container{
    max-width: 100vw;
}

header{
    margin: 0;
    padding: 0;
}