<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="util.css">
    <link rel="stylesheet" href="aboutus.css">
    <title>About Us</title>
</head>
<body>
    <div class="container min-h-screen mx-auto">
        <header class="top bg-navbar">
            <nav class="nav flex justify-between bg-navbar">
                <h2 class="h2">About Us</h2>
            </nav>
        </header>
        <main class="flex justify-around">
            <div class="content">
                <h1>Who we are?</h1>
                <p class="t1">We are a team of professionals dedicated to providing the best water billing services to our clients.
                    Our goal is to make water billing as easy and efficient as possible for both residential and commercial customers.
                </p>
                <div class="flex justify-between margin1">
                    <div class="box1 box">
                        <img src="./images/rocket-solid.svg" alt="mission">
                        <h3>Our Mission</h3>
                        <p>Our system is designed with the latest technology and software, ensuring accuracy and reliability in billing.
                        We understand that water is an essential commodity, and every drop counts. 
                        Therefore, we strive to make sure that our billing system is fair and transparent to our clients.
                        </p>
                    </div>
                    <div class="box2 box">
                        <img src="./images/lightbulb-regular.svg" alt="solutions">
                        <h3>We help to get solutions</h3>
                        <p>
                            At our company, we value customer satisfaction and go the extra mile to meet our customers' needs. 
                            Our customer support team is available 24/7 to answer any questions or concerns you may have. 
                            We are committed to providing exceptional service to our clients and believe that communication is the key to achieving this.
                        </p>
                    </div>
                </div>

            </div>
        </main>
        <footer>
            
        </footer>
    </div>    
</body>
</html>