<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="admindash">
        <header class="pageheader">
            <nav class="nav flex justify-between">
                <div class="logo">
                    <img src="{% static 'images/logo.png' %}" alt="logo">
                </div>
                <ul class="navbar">
                    <li><a href="#" class="notification">
                        <img src="{% static 'images/bell-solid.svg' %}" alt="bell">
                      </a></li>
                    <li><a href=""><img src="{% static 'images/user-circle-solid.svg' %}" alt="bell">Admin</a></li>
                </ul>
            </nav>
        </header>
        <main class="min-h-screen flex">
            <div class="menu bg-menu">
                <button class="tablinks" onclick="openTab(event, 'Home')" id="defaultOpen">
                    <img class="menuicon" src="./images/house-solid.svgv" alt="Home">Home</button>
                <button class="tablinks" onclick="openTab(event, 'Consumer')">
                    <img class="menuicon" src="{% static 'images/users-solid.svg' %}" alt="Consumer"><a href="consumer/consumer_admin">Consumer</a></button>
                <button class="tablinks" onclick="openTab(event, 'Employee')">
                    <img class="menuicon" src="{% static 'images/user-tie-solid.svg' %}" alt="Employee">Employee</button>
                <button class="tablinks" onclick="openTab(event, 'Billing')">
                    <img class="menuicon" src="{% static 'images/file-invoice-solid.svg' %}" alt="Billing">Billing</button>
                <button class="tablinks">
                    <a href="/logoout"><img class="menuicon" src="{% static 'images/sign-out-alt-solid.svg' %}" alt="Billing">Logout</button></a>

            </div>
            <div id="Home" class="tabcontent">
                    <div class="boxes flex justify-evenly">
                        <div class="box">
                            <img class="boximg" src="{% static 'images/users-solid.svg' %}" alt="">
                            <h3>Total Consumer</h3>
                            <h3>10</h3>
                        </div>
                        <div class="box">
                            <img class="boximg" src="{% static 'images/user-tie-solid.svg' %}" alt="">
                            <h3>Total Employee</h3>
                            <h3>10</h3>
                        </div>
                        <div class="box">
                            <img class="boximg" src="{% static 'images/file-invoice-solid.svg' %}" alt="">
                            <h3>Total Bills</h3>
                            <h3>10</h3>
                        </div>
                    </div>
                </div>
                <div id="Consumer" class="tabcontent">
                    <div class="dashcontent flex">
                        <ul class="searchbar justify-between">
                            <li>
                                <form action="post">
                                    <input type="text" placeholder="Search..."><button class="dashbtn" type="button">Search</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                    <div class="dashmid">
                        <ul class="flex justify-between">
                            <li>Total Consumer: <p>10</p></li>
                            <li>Active: <p>10</p></li>
                        </ul>
                    </div>
                    <div class="consumerrecords">
                        <table class="center">
                            <tr>
                                <th>Full Name</th>
                                <th>Phone Number</th>
                                <th>Address</th>
                                <th>Khanepani Type</th>
                                <th>Meter No</th>
                                <th>Email</th>
                                <th>Citizenship No</th>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                    <div class="crud flex">
                        <button class="dashbtn" type="button">Add</button>
                        <button class="dashbtn" type="button">Update</button>
                        <button class="dashbtn" type="button">Remove</button>
                    </div>
                </div>

                <div id="Employee" class="tabcontent">
                    <div class="dashcontent flex">
                        <ul class="searchbar justify-between">
                            <li>
                                <form action="">
                                    <input type="text" placeholder="Search..."><button class="dashbtn" type="button">Search</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                    <div class="dashmid">
                        <li>Total Employee:  <p>10</p></li>
                        </ul>
                    </div>
                    <div class="employeerecords">
                        <table class="center">
                            <tr>
                                <th>Employee ID</th>
                                <th>Phone Number</th>
                                <th>Address</th>
                                <th>Email</th>
                                <th>Citizenship No</th>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                    <div class="crud flex">
                        <button class="dashbtn" type="button">Add</button>
                        <button class="dashbtn" type="button">Update</button>
                        <button class="dashbtn" type="button">Remove</button>
                    </div>
                </div>

                <div id="Billing" class="tabcontent">
                    <div class="dashcontent flex">
                        <ul class="searchbar justify-between">
                            <li>
                                <form action="">
                                    <input type="text" placeholder="Search..."><button class="dashbtn" type="button">Search</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                    <div class="dashmid">
                        <ul class="flex justify-between">
                            <li>Pending Bills: <p>10</p></li>
                        </ul>
                    </div>
                    <div class="billrecords">
                        <table class="center">
                            <tr>
                                <th>Bill No</th>
                                <th>Consumer ID</th>
                                <th>Previous Unit</th>
                                <th>Current Unit</th>
                                <th>Reading Date</th>
                                <th>Amount</th>
                                <th>Status</th>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script>
        function openTab(evt, menuItem) {
          var i, tabcontent, tablinks;
          tabcontent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablinks");
          for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
          }
          document.getElementById(menuItem).style.display = "block";
          evt.currentTarget.className += " active";
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
        </script>
</body>
</html>