<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="util.css">
    <link rel="stylesheet" href="consumer.css">
    <title>Billing</title>
</head>
<body>
    <div class="container mx-auto">
        <header>
            <nav class="nav flex justify-between bg-navbar">
                <h2 class="h2">Consumer Billing Records</h2>
            </nav>
        </header>
        <main class="min-h-screen bg-body">
            <div class="content flex">
                <ul class="navbar justify-between">
                    <li>
                        <form action="">
                            <input type="text" placeholder="Search..."><button type="button">Search</button>
                        </form>
                    </li>
                </ul>
            </div>
            <div class="mid">
                <ul class="flex justify-between">
                    <li>Pending Bills: <p>10</p></li>
                </ul>
            </div>
            <div class="records">
                <table class="center">
                    <tr>
                        <th>Bill No</th>
                        <th>Consumer ID</th>
                        <th>Previous Unit</th>
                        <th>Current Unit</th>
                        <th>Reading Date</th>
                        <th>Amount</th>
                        <th>Status</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>  
        </main>
        <footer>
        </footer>
    </div> 
</body>
</html>