<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'adminlogin.css' %}">
    <title></title>
  </head>
  <body>
    <div class = "row">
      <div class="rightimage">
        <!-- <img src="https://static.vecteezy.com/system/resources/previews/003/273/882/original/wave-blue-background-wallpaper-free-vector.jpg" alt="water" width="100%" height="100%"> -->
      </div>
      <div class="content">
        <form>
          <h2>Login</h2>
          <label for="Cid">Admin ID</label><br>
          <input type="text" id="Cid" name="Aid"><br>
          <label for="Password">Password</label><br>
          <input type="password" id="Password" name="Password"><br>
          <button type="button" name="button">Confirm</button>
        </form>
      </div>
    </div>
  </body>
</html>
