<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/util.css' %}">
    <link rel="stylesheet" href="{% static 'css/consumer.css' %}">
    <title>Consumer</title>
</head>
<body>
    <div class="container mx-auto">
        <header>
            <nav class="nav flex justify-between bg-navbar">
                <h2 class="h2">Consumer Records</h2>
            </nav>
        </header>
        <main class="min-h-screen bg-body">
            <div class="content flex">
                <ul class="navbar justify-between">
                    <li>
                        <form action="">
                            <input type="text" placeholder="Search..."><button type="button">Search</button>
                        </form>
                    </li>
                    <li>
                        <form method="post">
                            {% csrf_token %}
                            <button class="add" type="submit"><a href="/consumer/consumer_registration_form">Add Consumer</a> </button>
                            <button class="add" ><a href="/consumer/consumer_update">Update Consumer</a> </button>

                            {% for consumer in consumers %}
                                <h2>{{ consumer.name }}</h2>
                                <p>{{ consumer.email }}</p>
                                <p>{{ consumer.phone }}</p>
                                <p>{{ consumer.address }}</p>
                            {% endfor %}
                        </form>

                    </li>
                </ul>
            </div>
            <div class="mid">
                <ul class="flex justify-between">
                    <li>Total Consumer: <p>10</p></li>
                    <li>Active: <p>10</p></li>
                </ul>
            </div>
            <div class="records">
                <table class="center">
                    <tr>
                        <th>Full Name</th>
                        <th>Phone Number</th>
                        <th>Address</th>
                        <th>Khanepani Type</th>
                        <th>Meter No</th>
                        <th>Email</th>
                        <th>Citizenship No</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>  
        </main>
        <footer>
            <div class="crud flex">
                <button type="button">Update</button>
                <button type="button">Remove</button>
            </div>   
        </footer>
    </div> 
</body>
</html>