<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/Register.css' %}">
</head>
<body>
<div class="container">
		<h2>Add Customer</h2>
		<form method="post">
            {% csrf_token %}
            <label for="cid">Consumer ID:</label>
			<input type="number" id="cid" name="consumer_id"  required>

			<label for="name">Full Name:</label>
			<input type="text" id="name" name="name" required>

			<label for="phonenumber">Phone Number:</label>
			<input type="text" id="address" name="phone" required>

            <label for="email">Email:</label>
			<input type="text" id="email" name="email" required>

			<label for="address">Address:</label>
			<input type="text" id="meter-no" name="address" required>

            <label for="citizenship">Citizenship:</label>
			<input type="number" id="citizenship" name="citizenship" required>

            <label for="meternumber">Meter Number:</label>
			<input type="number" id="meternumber" name="meter_no" required>

            <label for="type-options">Khanepani Type:</label>
			<select id="type-options" name="type" required>
				<option value="">Select an option</option>
				<option value="A">Option A</option>
				<option value="B">Option B</option>
				<option value="C">Option C</option>
			</select>

{#            <label for="username">Meter Number:</label>#}
{#			<input type="text" id="username" name="username" required>#}
{##}
{#            <label for="password">Meter Number:</label>#}
{#			<input type="password" id="password" name="password" required>#}

            <button type="submit" class="btn btn-primary"> Add Consumer</button>
		</form>
	</div>

</body>
</html>