<!DOCTYPE html>
<html>
<head>
  <title>Water Billing System</title>
  <link rel="stylesheet" type="text/css" href="createbillform.css">
</head>
<body>
  <div class="container">
    <h1>Water Billing System</h1>

    <div id="" class="">
      <h2>Create Bill</h2>

      <form>
        <label for="id">ID:</label>
        <input type="text" id="id" name="id" required>

        <label for="invoice_id">Invoice ID:</label>
        <input type="text" id="invoice_id" name="invoice_id" required>

        <label for="consumer_id">Consumer ID:</label>
        <input type="text" id="consumer_id" name="consumer_id" required>

        <label for="consumer_name">Consumer Name:</label>
        <input type="text" id="consumer_name" name="consumer_name" required>

        <label for="previousUnit">Previous Unit:</label>
        <input type="number" id="previousUnit" name="previousUnit" required>

        <label for="currentUnit">Current Unit:</label>
        <input type="number" id="currentUnit" name="currentUnit" required>

        <label for="perUnitPrice">Per Unit Price:</label>
        <input type="text" id="perUnitPrice" name="perUnitPrice" required>

        <label for="date">Date:</label>
        <input type="text" id="meterNo" name="meterNo" required>

        <label for="meterNo">Meter No:</label>
        <input type="text" id="meterNo" name="meterNo" required>

        <label for="totalAmount">Total Amount:</label>
        <input type="number" id="totalAmount" name="totalAmount" readonly>

        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</body>
</html>
