<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/Login.css' %}">
    <title></title>
  </head>
  <body>
    <div class="container">
      <form method="post">
          {% csrf_token %}
        <h2>Welcome to our application</h2>
          <p style="color:pink">{{ message }}</p>
        <p>Please login to use the platform</p>
        <label for="phone">Phone</label><br>
        <input type="text" id="phone" name="phone"><br>
        <label for="password">Password</label><br>
        <input type="password" id="password" name="Cpassword"><br>
        <button type="submit" name="button">Login</button>
        <p>New here?<a href="/consumer/consumer_signup">Sign Up</a></p>
      </form>
    </div>
  </body>
</html>
