<div class="container">
  <h1>Water Billing System</h1>
   <link rel="stylesheet" href="employee.css">
  
  <input type="text" id="searchInput" onkeyup="searchTable()" placeholder="Search for consumer...">

  <table id="table">
    <thead>
      <tr>
        <th>SN</th>
        <th>Full Name</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Address</th>
        <th>Khanepani Type</th>
        <th>Previous Unit</th>
        <th>Current Unit</th>
        <th>Total Amount</th>
        <th>Action</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>123J</td>
        <td>002</td>
        <td>1000</td>
        <td>5 unit</td>
        <td id="total_amount"></td>
        <td id="action">
        <button class="view-bill-btn">View Bill</button>
        <button class="create-bill-btn">Create Bill</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
