<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href=" {% static 'css/style.css' %}">
    <title>Login Admin</title>
      <style>
          .messages{
              color: red;
          }
      </style>
  </head>
  <body class="bg-body">
    <main class="container flex justify-around ">
      <div class="Loginimage">
        <img src="{% static 'images/LOGIN.jpg' %}" alt="signupimg">
      </div>
      <div class="Logincontent flex">
        <form class="Loginform" method="POST">
          {% csrf_token %}
        <h3>Welcome</h3>
                    {{ form.as_p }}
                    {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
{#                            {% if message.tags %} class="{{ message.tags }}"{% endif %}#}
                        {{ message }}
                        {% endfor %}
                    </div>
                    {% endif %}

          <label for="Cid">Username</label><br>
          <input type="text" id="Cid" name="uname"><br>
          <label for="Password">Password</label><br>
          <input type="password" id="Password" name="pass"><br>
          <a class="forgotp" href="/forgetpassword">Forgot Password?</a>
          <button class="loginconfirm" type="submit" name="button">Login</button>
        </form>
        </div>
      </div>
    </main>
  </body>
</html>
