<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Consumer signup</title>
      <style>
          .message{
              color: red;
              font-size: 12px;
          }

      </style>
  </head>
  <body class="signup">
    <main class="signupmain flex justify-around">
      <div class="signupimage">
        <img src="{% static 'images/Data_security_01.jpg' %}" alt="signupimg">
      </div>
      <div class="signupcontent flex">
        <form class="signupform" method="POST">
          <h3>Sign UP</h3>
          {% csrf_token %}
            <div class="message">
                {{ message }}<br>
            </div>

          <label for="phone">Phone</label><br>
          <input type="text" id="phone" name="phone"><br>

          <label for="Password">Password</label><br>
          <input type="password" id="Password" name="password"><br>

          <label for="Cpassword">Confirm Password</label><br>
          <input type="password" id="Cpassword" name="c_password"><br>

          <button type="submit" name="button" class="confirm">Confirm</button>
          <p>Already have an account? <a href="/consumer/customer_login">Login</a></p>

        </form>
        </div>
      </div>
    </main>
  </body>
</html>

